[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
numpy = "*"
pillow = "*"
torch = "*"
albumentations = "*"
opencv-python = "*"
djangorestframework = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
